
package day%02dz

import (
    "aoc/src/utils"
)

func SolveProblem1() (string, error) {
    lines := utils.GetInput(%d)
	_ = lines

    return "Implement me!", nil
}

func SolveProblem2() (string, error) {
    lines := utils.GetInput(%d)
	_ = lines

    return "Implement me!", nil
}